/* teal green #2B8E8E lime green #73B03A neon green #5CD85A Roayl Blue #278ED5 */
/*bodyyn background color*/
/*keski osan tausta valkoseks*/
/* Kuva sivuun webis, mobiilis alas */
/* bodyyn fontti perhe */
/* navin viimeistely*/
/*kaikki center align*/
/* boksit tekstiin*/

nav {
    background-color: #73B03A;
    padding: 10px;
    text-align: center;
}

nav a {
    color: black;
    margin: 10px;
    text-decoration: none;
    /*poistaa linkin alle viivauksen*/
    display: inline-block;
    width: 8em;
}

.sivulla {
    background-color: #5CD85A;
}

nav a:hover {
    background-color: #5CD85A;
}

body {
    background-color: #2B8E8E;
    /* Sininen taustaväri */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#banneri {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*justify-content: center;*/
    width: 60%
}

.container {
    background-color: white;
    /* Valkoinen sisältöalue */
    width: 80%;
    /* Voit säätää leveyttä */
    max-width: 1000px;
    /* Maksimileveys */
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Hieman varjoa */

}