/* Väriteema:
   - Teal green: #2B8E8E
   - Lime green: #73B03A
   - Neon green: #5CD85A
   - Royal Blue: #278ED5
*/
/* Google-fontti */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* --- Yleiset asetukset --- */

body {
  background-color: #2b8e8e;
  margin: 0;
  padding: 0;
  line-height: 150%;
  display: flex;
  justify-content: center;
  text-align: left;
  font-family: "Noto Sans", sans-serif;
}

/* Navigaatio WEB */
.topnav {
  background-color: #73b03a;
  overflow: hidden;
  display: flex;
}

.topnav a {
  color: black;
  margin: 0%;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  width: 12em;
  float: left;
  text-align: center;
  cursor: pointer;
}

.topnav a.sivulla {
  background-color: #5cd85a;
  color: black;
  width: 20%;
  height: 60%;
}

.topnav a:hover {
  background-color: #5cd85a;
}

.topnav .icon {
  display: none;
  /*align-items: center;*/
}

#banneri {
  display: block;
  margin: 20px auto;
  width: 60%;
}

h1,
h2 {
  color: #278ed5;
  text-align: center;
}

/* Sisältölaatikko WEB */
.container {
  background-color: white;
  width: 80%;
  max-width: 1000px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ETUSIVU WEB*/


.flex-left {
  flex: 2;
  width: 50%;
  float: left;
}
.flex-right {
  flex: 1;
  width: 50%;
  float: left;
  display: block;
}

.flex-container {
  display: flex;
  flex-direction: row; /* Teksti vasemmalle, kuva oikealle */
  align-items: center; /* Kohdistetaan pystysuunnassa */
  justify-content: center;
  border: 2px solid #73b03a;
  border-radius: 30px 30px;
  padding: 0 20px;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 100%;
}

.vote-section iframe {
  width: 100%;
  height: 400px;
  max-width: 500px;
  margin: 20px auto;
  border: 2px solid #73b03a;
  display: block;
  flex-wrap: wrap;
  border: 2px solid #73b03a;
  display: block;
  justify-content: center;
}

footer {
  text-align: center;
  border: 2px solid #73b03a;
  padding: 20px;
  width: 40%;
  margin: 0 auto;
}
/* THESIMS1 WEB */
.flex-left1 {
  flex: 1;
  width: 50%;
  float: left;
  margin: 5px;
}
.flex-right1 {
  float: left;
  flex: 1;
  width: 70%;
  display: block;
  margin: 0px 0px 430px 30px;
}


/*  Mobiilinäkymä */
@media screen and (max-width: 600px) {
  #banneri {
    display: block;
    /*margin: 20px auto;*/
    width: 90%;
  }
  h1,
  h2 {
    font-size: 20px;
  }
  /* SISÄLTÖ BOKSI MOBIILI */
  .flex-container {
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 90%;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* ETUSIVU MOBIILI */
  .flex-right {
    display: flex;
    justify-content: center;
  }

  .flex-left,
  .flex-right {
    width: 95%;
    float: none;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    word-wrap: break-word;
  }
  /* THESIMS1 MOBIILI*/
  .flex-right1 {
    display: flex;
    justify-content: center;
  }

  #etusivukuva {
    display: block;
  }

  /* MOBIILI NAVIGAAATIO */
  .topnav {
    background-color: #73b03a;
    overflow: hidden;
    display: flex;
    width: 85%;
  }

  .topnav a.sivulla {
    background-color: #5cd85a;
    color: black;
    width: 80%;
    height: 60%;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    display: block;
    margin-left: 40%;
    cursor: pointer;
    background-color: #73b03a;
  }

  .topnav.responsive {
    position: relative;
    flex-direction: column;
    width: 80%;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0%;
    left: 40%;
    top: 0%;
  }

  .topnav.responsive a {
    float: center;
    display: block;
    text-align: left;
    width: 50%;
  }
  /* ETUSIVUN ÄÄNESTYS */
  .vote-section iframe {
    width: 95%;
    max-width: 100%;
  }
}
